@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


:root {
  --color-primary-dark: #1e3932;
  --color-primary: #008248;
  --color-muted-green: #d4e9e2;
  --color-background: #f1f8f6;
  --color-cream: #f3f1e7;
  --color-black: #000000;
}
body{
 font-family: "Montserrat", sans-serif;
}
